# Python
__pycache__/
*.pyc
*.pyo
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# Affinity Designer
*.afdesign

# Data files
data/raw/
data/processed/
*.csv
*.xlsx

# OS-specific
.DS_Store

# Logs
*.log
