numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
statsmodels
jupyterlab
notebook
jupyter_contrib_nbextensions
plotly
xarray
pyarrow
openpyxl
tabulate
tqdm
pyyaml
requests
beautifulsoup4
python-dotenv
nbqa
black
ruff
polars